* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  } 

  html {
    scroll-behavior: smooth;
  }

  :root {
    --primaria: #7c4caf;
    --secundaria: #ffffff;
    --escuro: #151515;
    --maisEscuro: #000000;
    --claro: #cfcbcb;
    --vidro: rgba(255, 255, 255, 0.1);    
  }

    body {
        background: var(--escuro);
        color: var(--claro);
}

.navegacao {
    position: fixed;
    top: 0;
    background: rgba(15, 23, 42, 0.8);
    width: 100%;
    z-index: 100;
    padding: 1.5rem;    
}

.menu {
    display: flex;
    justify-content: center;
    gap: 3rem;
    list-style: none;
}

.menu-link {
    text-decoration: none;
    color: var(--claro);
    font-weight: 500;
    position: relative;
    padding: 0.5rem;
}

.menu-link::after {
    content:'';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--primaria), var(--secundaria));
    transition: width 0.5s ease;
}

.menu-link:hover::after {
    width: 100%;
    transition: 0.3s;
}

.cabecalho {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.foto-perfil {
    width: 350px;
    border-radius: 100%;
    height: 350px;
    box-shadow: 0 0 20px rgba(79, 70, 329, 0.3);
    border: 4px solid var(--vidro);
}

h1{
    font-size: 3.5rem;
    color: var(--secundaria);
    font-weight: bold;
    margin: 20px;
}

.cabecalho-sub-titulo {
    font-size: 1.5rem;
    color: var(--claro);

}

.sobre {
    padding: 6rem 2rem;

}

.sobre-titulo {
    font-size: 3rem;
    color: var(--claro);
    text-align: center;
    margin-bottom: 20px;

}

.sobre-caixa {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid var(--vidro);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.05);
}

.sobre-paragrafo {   
    font-size: 1.2rem;
    align-items: center;

    
}
